@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Righteous Movies - Be entertained and uplifted!</h1>
    <img src="~/images/popcorn.jpg" asp-append-version="true" alt="Description of the image" style="width: 500px; height: auto;">

</div>
